$yellow: #C7D9AF;
$darkGrey: #2f2c2c;
$white: #FFF8F6;
$grey: #E5DAD8;

html,
body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: $white;
    // ::-webkit-scrollbar {
    //     display: none;
    // }
    -webkit-overflow-scrolling: touch;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@-webkit-keyframes titleEnter {
    0% {
        opacity: 0;
        -webkit-transform: translatey(-70px);
        -moz-transform: translatey(-70px);
        -o-transform: translatey(-70px);
        transform: translatey(-70px);
    }

    30% {
        opacity: 0;
        -webkit-transform: translatey(-70px);
        -moz-transform: translatey(-70px);
        -o-transform: translatey(-70px);
        transform: translatey(-70px);
    }

    100% {

        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.header {
    overflow: hidden;

    &Container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        &BgImage {
            width: 100%;
            height: 100%;
            background-image: url("../src/header.jpg");
            background-size: cover;
            background-position: center;
            filter: grayscale(40%);
            -webkit-filter: grayscale(40%);
            -webkit-animation: zoomin 28s linear infinite;
            animation: zoomin 28s linear infinite;
            overflow: hidden;
            transform: scale(1.3);

            &Overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        &Title {
            display: flex;
            justify-content: center;
            border: 1px solid $white;
            align-items: flex-start;
            width: calc(100vw - 60px);
            height: calc(100vh - 60px);
            text-align: center;
            position: absolute;
            top: 0;
            margin: 30px;
            padding-top: 6%;
            z-index: 2;
            text-transform: uppercase;

            h1 {
                font-weight: 300;
                color: $white;
                font-size: 80px;
                letter-spacing: 11px;
                overflow: hidden;
                -webkit-animation: titleEnter 3s linear;
                -moz-animation: titleEnter 3s linear;
                -o-animation: titleEnter 3s linear;
                animation: titleEnter 3s linear;
            }
        }
    }
}

.creations {
    &Description {
        display: flex;
        flex-direction: row;
        margin: 80px 0 40px 40px;


        &Container {
            margin: 0 80px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &Title {
                font-size: 70px;
                text-align: center;
                color: $darkGrey;
                font-weight: 300;
                position: relative;
                margin: 0 auto;
                z-index: 1;

                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    background-color: $yellow;
                    height: 7px;
                    bottom: 9px;
                    right: 0;
                    z-index: -1;
                }
            }

            &Text {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.5;
                color: $darkGrey;
                margin-top: 50px;
                text-align: justify;
                line-height: 1.8;
            }
        }

        // &Border {
        //     background-color: $yellow;
        //     width: 400px;
        //     display: block;
        // }
    }

    &Portfolio {
        background-color: $white;
        position: relative;
        margin: 0;

        &Container {
            width: 100%;

            &Item {
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;


                &Images {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                    -webkit-transition: .2s ease-in-out;
                    transition: .2s ease-in-out;
                    cursor: pointer;
                    overflow: hidden;
                    width: calc(100% / 3 - 30px);
                    position: relative;
                    margin: 15px 0;
                    background-color: $grey;


                    img {
                        -webkit-transition: .4s ease-in-out;
                        transition: .4s ease-in-out;
                        width: 100%;
                        transform: scale(0.7);

                    }

                    &Border {
                        position: absolute;
                        display: block;
                        width: calc(100% - 40px);
                        height: calc(100% - 40px);
                        margin: 20px;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0);
                        transition: margin 0.4s, width 0.4s, height 0.4s, border 0.4s, background-color 0.4s;

                        &:hover {
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            border: 25px solid $yellow;
                            background-color: rgba(0, 0, 0, 0.5);
                            top: 0;
                            left: 0;
                        }

                        &:hover>figcaption {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            color: $yellow;
                            font-size: 40px;
                            font-weight: 300;
                            white-space: nowrap;
                            transform: greyscale(100%);
                        }
                    }

                    i[aria-hidden=true] {
                        cursor: default;
                        border: none;
                        width: 250px;
                    }

                    &:hover>img {
                        -webkit-filter: grayscale(80%);
                        filter: grayscale(80%);
                    }

                    &:hover>img {
                        transform: scale(1.1);
                    }



                    figcaption {
                        display: none;


                    }

                }

                #aria {
                    margin: 0;
                    padding: 0;
                    width: calc(100% / 3);
                    box-shadow: unset !important;
                    -webkit-box-shadow: unset !important;
                    -moz-box-shadow: unset !important;
                }
            }
        }
    }
}

.presentation {
    background-color: $white;
    padding: 80px 0;

    &Container {
        display: flex;
        flex-direction: row;
        justify-content: center;


        &Picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25%;

            span {
                border-radius: 50%;
                width: 150px;
                height: 150px;
            }

            &Orianne {
                background-image: url("../src/us/orianne.jpg");
                background-size: cover;
            }

            &Simon {
                // background-image: url("http://lorempicsum.com/up/350/200/1");
                background-size: cover;
            }

            &Louis {
                // background-image: url("http://lorempicsum.com/up/255/200/5");
                background-size: cover;
            }
        }

        &Paragraph {
            margin: 0 150px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &Title {
                font-size: 70px;
                text-align: center;
                color: $darkGrey;
                font-weight: 300;
                position: relative;
                margin: 0 auto;
                z-index: 1;

                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    background-color: $yellow;
                    height: 9px;
                    bottom: 9px;
                    right: 0;
                    z-index: -1;
                }
            }

            &Text {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.5;
                color: $darkGrey;
                margin-top: 50px;
                text-align: justify;
                line-height: 1.8;
            }
        }
    }
}

.slider {
    background-color: $darkGrey;
    height: 750px;

    &Header {
        width: 80%;
        margin: 80px auto 0;

        &Title {
            font-size: 50px;
            text-align: center;
            color: #cecccc;
            margin: 0;
            overflow: hidden;
        }

        &Text {
            font-size: 16px;
            line-height: 1.5;
            color: #cecccc;
            margin-top: 50px;
            text-align: center;
            font-weight: 400;
        }
    }

    &Container {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;

        &Inner {
            height: 500px;

            &Item {
                padding: 0 130px;

                &Block {
                    display: flex;
                    flex-direction: row;
                    margin: auto;

                    &Img {
                        width: 100%;
                        height: 100%;

                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            margin: auto;
                            max-height: 400px !important;
                            max-width: 300px !important;
                            -webkit-box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.69);
                            -moz-box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.69);
                            box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.69);
                        }
                    }

                    // &Info {
                    //     width: 50%;
                    //     margin: 30px 0 30px 60px;
                    //     color: #cecccc;
                    //     p {
                    //         font-size: 12px;
                    //     }
                    // }
                }
            }
        }
    }

    &Info {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #f2f0f0;
        padding: 0 40px;

        &Title {
            font-size: 35px;
            text-align: center;
            margin: 0;
        }

        &Text {
            font-size: 16px;
            line-height: 1.5;
            margin-top: 50px;
            text-align: justify;
        }
    }
}

.contact {
    &Container {
        color: $darkGrey;
        margin: 80px 0;

        &Title {
            font-size: 50px;
            text-align: center;
            margin: 0;
        }

        &Text {
            font-size: 16px;
            line-height: 1.5;
            margin-top: 50px;
            text-align: justify;
        }
    }
}

// Modal
.modalContainer {
    background-color: $darkGrey;
    width: 100%;
    height: 100%;
    max-width: unset;
    margin: 0;
    display: flex;
    flex-direction: row;

    &Close {
        margin: 20px 0 0;
        width: 30px;
        height: 30px;
        z-index: 1100;
        color: #f2f0f0;
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;

        &:hover {
            color: $darkGrey;
        }
    }

    &Picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 80px;
        position: relative;

        &Item {
            margin: 0 auto;
            width: 100%;

            img {
                max-width: 70%;
            }

            &Border {
                position: absolute;
                display: block;
                width: calc(100% - 40px);
                height: 75%;
                margin: 40px 40px 0;
                border: 1px solid $yellow;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    &Infos {
        margin: 30px;
        width: 50%;

        &Title {
            font-size: 50px;
            text-align: center;
            margin: 0;
            color: #f2f0f0;
        }

        &Text {
            font-size: 16px;
            line-height: 1.5;
            margin-top: 50px;
            text-align: justify;
            color: #f2f0f0;
        }
    }
}

.contact {
    background-color: $white;

    &Container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &Title {
            font-size: 50px;
            text-align: center;
            margin: 0;
            color: $darkGrey;
        }

        &Text {
            margin: 80px 0 0 !important;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            color: $darkGrey;
            margin: 0 auto;

            span {
                font-weight: bold;
            }
        }

        a {
            padding-top: 40px !important;
            text-align: center;
            color: $darkGrey;
            text-decoration: none;
            font-weight: bolder;

            &:hover {
                color: #797777;
            }
        }
    }
}

@media only screen and (min-device-width: 1045px) {
    .presentation {
        &Container {
            &Picture {
                &Orianne {
                    margin: -5% 0 0 17%;
                }

                &Simon {
                    margin: 5% 0 -5% 40%;
                }

                &Louis {
                    margin: -33% 0 0 23%;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 795px) and (max-device-width: 1045px) {
    .presentation {
        &Container {
            &Picture {
                &Orianne {
                    margin: 40px auto;
                }

                &Simon {
                    margin: 40px auto;
                }

                &Louis {
                    margin: 40px auto 100px;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 795px) {
    .presentation {
        &Container {
            flex-direction: column;

            &Picture {
                flex-direction: row;
                order: 2;
                width: 100%;
                padding: 0 10px;

                &Orianne {
                    margin: 10px auto;
                }

                &Simon {
                    margin: 10px auto;
                }

                &Louis {
                    margin: 10px auto;
                }
            }

            &Paragraph {
                order: 1;
                width: 100%;
                padding: 0 10px;
            }
        }
    }

    .slider {
        display: flex;
        flex-direction: column;
        height: unset;

        &Header {
            height: unset;
            width: 100%;
            padding: 0 10px;
            margin: 80px 0 20px;
        }

        &Container {
            width: 100%;
            margin: 0 0 30px 0;

            &Inner {
                height: 400px;
            }
        }

        &Info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            color: #f2f0f0;
            padding: 50px 20px;
            background-color: $darkGrey;

            &Title {
                font-size: 50px;
                text-align: center;
                margin: 0;
            }

            &Text {
                font-size: 16px;
                line-height: 1.5;
                margin-top: 50px;
                text-align: justify;
            }
        }
    }
}

@media only screen and (max-device-width: 874px) {
    .header {
        &Container {
            &Title {
                font-size: 50px;
                padding: 0 20px;
            }
        }
    }

    .Creations {

        // &Description {
        //     margin: 80px 0;
        //     width: 100%;
        //     padding: 0 10px;
        // }
        &Portfolio {
            &Container {
                flex-direction: column;
                width: 100%;
                margin: 0 auto;

                &Item {
                    flex-direction: column;
                    justify-content: center;

                    &Images {
                        margin: 0 auto 40px;
                        width: 100%;
                        max-width: 450px;

                        &:hover>img {
                            transform: scale(1);
                        }

                        &:hover {
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }
    }

    .modalContainer {
        width: 100vw;
        height: 100vh;
        max-width: unset;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;

        &Close {
            padding: 20px;
            width: 30px;
            height: 30px;
            z-index: 1100;
            color: #f2f0f0;
            position: absolute;
            top: 0;
            right: 10px;
            overflow: hidden;
        }

        &Picture {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        &Infos {
            padding: 20px 10px;
            width: 100%;
            height: 50%;
            margin: 0 0 10px 0;

            &Title {
                font-size: 50px;
                text-align: center;
                margin: 0;
                color: #f2f0f0;
            }

            &Text {
                font-size: 16px;
                line-height: 1.5;
                margin-top: 50px;
                text-align: justify;
                color: #f2f0f0;
            }
        }
    }
}

// Animations
@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    47% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}