@-webkit-keyframes titleEnter {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-70px);
    -moz-transform: translatey(-70px);
    -o-transform: translatey(-70px);
    transform: translatey(-70px); }
  30% {
    opacity: 0;
    -webkit-transform: translatey(-70px);
    -moz-transform: translatey(-70px);
    -o-transform: translatey(-70px);
    transform: translatey(-70px); }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0); } }
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  47% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
.open {
  position: fixed;
  z-index: 10; }
  .open span {
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 40px; }
    .open span:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 16px;
      border-bottom: 2px solid white;
      border-top: 2px solid white; }
    .open span:after {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: white; }

.menu {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 30vw; }
  .menuContainer {
    background-color: #2f2c2c;
    width: 100%;
    height: 100%;
    position: relative; }
    .menuContainerClose {
      width: 40px;
      height: 40px;
      top: 20px;
      left: 40px;
      cursor: pointer;
      position: absolute; }
      .menuContainerClose:after {
        content: '';
        display: flex;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 5px;
        top: 20px;
        background-color: white;
        transform: rotate(45deg); }
      .menuContainerClose:before {
        content: '';
        display: flex;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 5px;
        top: 20px;
        background-color: white;
        transform: rotate(-45deg); }
    .menuContainerItems {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%; }
      .menuContainerItems a {
        text-decoration: none;
        color: white;
        font-size: 60px; }

.noVisible {
  left: -100vw;
  transition: left 0.8s ease-out; }

.visible {
  left: 0;
  transition: left 0.8s ease; }
  .visible .menuContainer {
    color: white; }

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: white;
  -webkit-overflow-scrolling: touch; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

.noOverflow {
  overflow: hidden; }

* {
  box-sizing: border-box; }

.visible > .header {
  background-color: rgba(0, 0, 0, 0.6); }

.header {
  overflow: hidden;
  position: relative; }
  .headerContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    .headerContainerBgImage {
      width: 100%;
      height: 100%;
      background-image: url("../src/header.jpg");
      background-size: cover;
      background-position: center;
      filter: grayscale(40%);
      -webkit-filter: grayscale(40%);
      -webkit-animation: zoomin 28s linear infinite;
      animation: zoomin 28s linear infinite;
      overflow: hidden;
      transform: scale(1.3); }
      .headerContainerBgImageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4); }
    .headerContainerTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%);
      margin: 30px 0;
      padding-top: 15%;
      z-index: 2;
      text-transform: uppercase; }
      .headerContainerTitle h1 {
        font-weight: 300;
        color: white;
        font-size: 80px;
        letter-spacing: 11px;
        overflow: hidden;
        white-space: nowrap;
        -webkit-animation: titleEnter 3s linear;
        -moz-animation: titleEnter 3s linear;
        -o-animation: titleEnter 3s linear;
        animation: titleEnter 3s linear; }

.overlay {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 50;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4); }

.noOverlay {
  display: none; }

.navbar {
  padding: 0;
  z-index: 9;
  width: 100vw; }
  .navbar .container {
    max-width: unset; }
    .navbar .container p {
      color: white; }
  .navbar.noSticky {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    transition: bottom 0.6s ease-in; }
    .navbar.noSticky .container {
      align-items: center;
      height: 90px;
      position: relative;
      transition: height 0.4s ease-in; }
      .navbar.noSticky .container img {
        width: 80px;
        height: 80px;
        transition: height 0.5s ease-in, width 0.5s ease-in; }
      .navbar.noSticky .container:before {
        content: '';
        display: inline-block;
        width: 45%;
        position: absolute;
        border-top: 1px solid white;
        opacity: 1;
        left: 0;
        bottom: 50%;
        transition: bottom 0.4s ease-in, opacity 0.4s linear; }
      .navbar.noSticky .container:after {
        content: '';
        display: inline-block;
        width: 45%;
        position: absolute;
        border-top: 1px solid white;
        opacity: 1;
        right: 0;
        bottom: 50%;
        transition: bottom 0.4s ease-in, opacity 0.4s linear; }
  .navbar.sticky {
    position: sticky;
    height: 90px;
    top: -50px;
    background-color: #2f2c2c;
    align-items: flex-end;
    margin-top: -89px;
    bottom: 0;
    transition: position 0.6s ease-in, bottom 0.6s ease-in, background-color 0.3s ease-in; }
    .navbar.sticky .container {
      height: 40px;
      position: absolute;
      bottom: -5px;
      transition: height 0.4s linear; }
      .navbar.sticky .container img {
        width: 30px;
        height: 30px;
        transition: height 0.4s ease-in, width 0.4s ease-in; }
      .navbar.sticky .container:before {
        content: '';
        display: inline-block;
        width: 45%;
        position: absolute;
        border-top: 1px solid white;
        opacity: 0;
        left: 0;
        bottom: 0;
        transition: bottom 0.4s ease-in, opacity 0.3s linear; }
      .navbar.sticky .container:after {
        content: '';
        display: inline-block;
        width: 45%;
        position: absolute;
        border-top: 1px solid white;
        opacity: 0;
        right: 0;
        bottom: 0;
        transition: bottom 0.4s ease-in, opacity 0.3s linear; }
  .navbar .container {
    width: 100%;
    display: flex;
    justify-content: center; }

.creations {
  margin: 0 15px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .creationsDescription {
    display: flex;
    flex-direction: column;
    margin: 80px 275px 40px; }
    .creationsDescriptionTitle {
      font-size: 70px;
      text-align: center;
      color: #2f2c2c;
      font-weight: 300;
      position: relative;
      margin: 0 auto;
      z-index: 1; }
      .creationsDescriptionTitle:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        background-color: #C7D9AF;
        height: 7px;
        bottom: 9px;
        right: 0;
        z-index: -1; }
    .creationsDescriptionText {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
      color: #2f2c2c;
      margin-top: 50px;
      text-align: justify;
      line-height: 1.8; }
  .creationsPortfolio {
    background-color: white;
    position: relative;
    margin: 0; }
    .creationsPortfolioContainer {
      max-width: 1000px;
      margin: 0 auto; }
      .creationsPortfolioContainerItemFirst {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 15px; }
        .creationsPortfolioContainerItemFirstImages {
          flex-direction: column;
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          margin: 0 0 0 15px;
          width: calc(100% - 90px);
          position: relative;
          background-color: #E5DAD8; }
          .creationsPortfolioContainerItemFirstImages img {
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
            width: 100%;
            transform: scale(0.7); }
        .creationsPortfolioContainerItemFirstSmall {
          width: calc(100% / 2);
          display: flex;
          flex-direction: column; }
          .creationsPortfolioContainerItemFirstSmallImages {
            flex-direction: column;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            margin: 0 15px 0 30px;
            position: relative;
            background-color: #E5DAD8; }
            .creationsPortfolioContainerItemFirstSmallImages:first-child {
              margin-bottom: 15px; }
            .creationsPortfolioContainerItemFirstSmallImages:last-child {
              margin-top: 15px; }
            .creationsPortfolioContainerItemFirstSmallImages img {
              -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
              width: 100%;
              transform: scale(0.7); }
      .creationsPortfolioContainerItemSecond {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; }
        .creationsPortfolioContainerItemSecondImages {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          cursor: pointer;
          overflow: hidden;
          width: calc(100% / 3 - 30px);
          position: relative;
          margin: 15px 0;
          background-color: #E5DAD8;
          position: relative; }
          .creationsPortfolioContainerItemSecondImages img {
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
            width: 100%;
            transform: scale(0.7); }
        .creationsPortfolioContainerItemSecond i[aria-hidden=true] {
          cursor: default;
          border: none;
          width: 250px; }
        .creationsPortfolioContainerItemSecond:hover > img {
          -webkit-filter: grayscale(80%);
          filter: grayscale(80%); }
        .creationsPortfolioContainerItemSecond:hover > img {
          transform: scale(1.1); }
        .creationsPortfolioContainerItemSecond figcaption {
          display: none; }
      .creationsPortfolioContainerItem #aria {
        margin: 0;
        padding: 0;
        width: calc(100% / 3);
        box-shadow: unset !important;
        -webkit-box-shadow: unset !important;
        -moz-box-shadow: unset !important; }

.presentation {
  background-color: white;
  padding: 80px 0; }
  .presentationContainer {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .presentationContainerPicture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%; }
      .presentationContainerPicture span {
        border-radius: 50%;
        width: 150px;
        height: 150px; }
      .presentationContainerPictureOrianne {
        background-image: url("../src/us/orianne.jpg");
        background-size: cover; }
      .presentationContainerPictureSimon {
        background-size: cover; }
      .presentationContainerPictureLouis {
        background-size: cover; }
    .presentationContainerParagraph {
      margin: 0 150px 80px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .presentationContainerParagraphTitle {
        font-size: 70px;
        text-align: center;
        color: #2f2c2c;
        font-weight: 300;
        position: relative;
        margin: 0 auto;
        z-index: 1; }
        .presentationContainerParagraphTitle:after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 100%;
          background-color: #C7D9AF;
          height: 9px;
          bottom: 9px;
          right: 0;
          z-index: -1; }
      .presentationContainerParagraphText {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        color: #2f2c2c;
        margin-top: 50px;
        text-align: justify;
        line-height: 1.8; }

.sliderContainer {
  display: flex;
  flex-direction: row; }
  .sliderContainerPictures img {
    height: 200px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); }
  .sliderContainerPictures:hover {
    z-index: 1000;
    transform: scale(1.5);
    -webkit-transition: .2s ease;
    transition: .2s ease; }
  .sliderContainerPictures:hover > img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); }

.contactContainer {
  color: #2f2c2c;
  margin: 80px 0; }
  .contactContainerTitle {
    font-size: 50px;
    text-align: center;
    margin: 0; }
  .contactContainerText {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 50px;
    text-align: justify; }

.modalContainer {
  background-color: #2f2c2c;
  width: 100%;
  height: 100%;
  max-width: unset;
  margin: 0;
  display: flex;
  flex-direction: row; }
  .modalContainerClose {
    margin: 20px 0 0;
    width: 30px;
    height: 30px;
    z-index: 1100;
    color: #f2f0f0;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer; }
    .modalContainerClose:hover {
      color: #2f2c2c; }
  .modalContainerPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 80px;
    position: relative; }
    .modalContainerPictureItem {
      margin: 0 auto;
      width: 100%; }
      .modalContainerPictureItem img {
        max-width: 70%; }
      .modalContainerPictureItemBorder {
        position: absolute;
        display: block;
        width: calc(100% - 40px);
        height: 75%;
        margin: 40px 40px 0;
        border: 1px solid #C7D9AF;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0); }
  .modalContainerInfos {
    margin: 30px;
    width: 50%; }
    .modalContainerInfosTitle {
      font-size: 50px;
      text-align: center;
      margin: 0;
      color: #f2f0f0; }
    .modalContainerInfosText {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 50px;
      text-align: justify;
      color: #f2f0f0; }

.contact {
  background-color: white; }
  .contactContainer {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .contactContainerTitle {
      font-size: 50px;
      text-align: center;
      margin: 0;
      color: #2f2c2c; }
    .contactContainerText {
      margin: 80px 0 0 !important;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: #2f2c2c;
      margin: 0 auto; }
      .contactContainerText span {
        font-weight: bold; }
    .contactContainer a {
      padding-top: 40px !important;
      text-align: center;
      color: #2f2c2c;
      text-decoration: none;
      font-weight: bolder; }
      .contactContainer a:hover {
        color: #797777; }

@media only screen and (min-device-width: 1045px) {
  .presentationContainerPictureOrianne {
    margin: -5% 0 0 17%; }
  .presentationContainerPictureSimon {
    margin: 5% 0 -5% 40%; }
  .presentationContainerPictureLouis {
    margin: -33% 0 0 23%; } }
@media only screen and (min-device-width: 795px) and (max-device-width: 1045px) {
  .presentationContainerPictureOrianne {
    margin: 40px auto; }
  .presentationContainerPictureSimon {
    margin: 40px auto; }
  .presentationContainerPictureLouis {
    margin: 40px auto 100px; } }
@media only screen and (max-device-width: 795px) {
  .presentationContainer {
    flex-direction: column; }
    .presentationContainerPicture {
      flex-direction: row;
      order: 2;
      width: 100%;
      padding: 0 10px; }
      .presentationContainerPictureOrianne {
        margin: 10px auto; }
      .presentationContainerPictureSimon {
        margin: 10px auto; }
      .presentationContainerPictureLouis {
        margin: 10px auto; }
    .presentationContainerParagraph {
      order: 1;
      width: 100%;
      padding: 0 10px; }

  .slider {
    display: flex;
    flex-direction: column;
    height: unset; }
    .sliderHeader {
      height: unset;
      width: 100%;
      padding: 0 10px;
      margin: 80px 0 20px; }
    .sliderContainer {
      width: 100%;
      margin: 0 0 30px 0; }
      .sliderContainerInner {
        height: 400px; }
    .sliderInfo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      color: #f2f0f0;
      padding: 50px 20px;
      background-color: #2f2c2c; }
      .sliderInfoTitle {
        font-size: 50px;
        text-align: center;
        margin: 0; }
      .sliderInfoText {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 50px;
        text-align: justify; } }
@media only screen and (max-device-width: 874px) {
  .headerContainerTitle {
    font-size: 50px;
    padding: 0 20px; }

  .CreationsPortfolioContainer {
    flex-direction: column;
    width: 100%;
    margin: 0 auto; }
    .CreationsPortfolioContainerItem {
      flex-direction: column;
      justify-content: center; }
      .CreationsPortfolioContainerItemImages {
        margin: 0 auto 40px;
        width: 100%;
        max-width: 450px; }
        .CreationsPortfolioContainerItemImages:hover > img {
          transform: scale(1); }
        .CreationsPortfolioContainerItemImages:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0); }

  .modalContainer {
    width: 100vw;
    height: 100vh;
    max-width: unset;
    margin: 0;
    display: flex;
    flex-direction: column-reverse; }
    .modalContainerClose {
      padding: 20px;
      width: 30px;
      height: 30px;
      z-index: 1100;
      color: #f2f0f0;
      position: absolute;
      top: 0;
      right: 10px;
      overflow: hidden; }
    .modalContainerPicture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
    .modalContainerInfos {
      padding: 20px 10px;
      width: 100%;
      height: 50%;
      margin: 0 0 10px 0; }
      .modalContainerInfosTitle {
        font-size: 50px;
        text-align: center;
        margin: 0;
        color: #f2f0f0; }
      .modalContainerInfosText {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 50px;
        text-align: justify;
        color: #f2f0f0; } }

/*# sourceMappingURL=style.css.map */
