html,
body {
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f0f0;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    &Container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        &BgImage {
            width: 100%;
            height: 100%;
            background-image: url("../src/header.jpg");
            background-size: cover;
            filter: blur(8px) grayscale(100%);
            -webkit-filter: blur(5px) grayscale(100%);
            -webkit-animation: zoomin 8s linear;
            animation: zoomin 8s linear;
            overflow: hidden;
            transform: scale(1.3);

            &Overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #2f2c2c;
                opacity: 0.6;
                overflow: hidden;
            }
        }



        &Title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 100px;
            position: absolute;
            top: 0;
            margin: 0;
            z-index: 2;
            text-transform: uppercase;
            font-weight: 700;
            color: #f2f0f0;
        }
    }
}

.creations {

    &Description {
        width: 70%;
        margin: 80px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &Title {
            font-size: 50px;
            text-align: center;
            color: #2f2c2c;
            margin: 0;
        }

        &Text {
            font-size: 16px;
            line-height: 1.5;
            color: #2f2c2c;
            margin-top: 50px;
            text-align: justify;
        }
    }

    &Portfolio {
        background-color: #2f2c2c;

        &Container {
            width: 70%;
            margin: 100px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &Item {
                margin: -90px 10px 0;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &Images {
                    display: flex;
                    justify-content: center;
                    margin: 100px 0 0;
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                    -webkit-transition: .2s ease-in-out;
                    transition: .2s ease-in-out;
                    cursor: pointer;
                    overflow: hidden;
                    width: 255px;

                    img {
                        -webkit-transition: .4s ease-in-out;
                        transition: .4s ease-in-out;

                    }

                    &:hover {
                        -webkit-filter: grayscale(80%);
                        filter: grayscale(80%);
                    }

                    &:hover>img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.presentation {
    &Container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 60px 0;

        &Picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25%;

            span {
                border-radius: 50%;
                width: 150px;
                height: 150px;
            }

            &Orianne {
                background-image: url("http://lorempicsum.com/up/350/200/6");
                background-size: cover;
            }

            &Simon {
                background-image: url("http://lorempicsum.com/up/350/200/1");
                background-size: cover;
            }

            &Louis {
                background-image: url("http://lorempicsum.com/up/255/200/5");
                background-size: cover;
            }
        }

        &Paragraph {
            width: 50%;
            margin: 20px 0;

            &Title {
                font-size: 50px;
                text-align: center;
                color: #2f2c2c;
                margin: 0;
            }

            &Text {
                font-size: 16px;
                line-height: 1.5;
                color: #2f2c2c;
                margin-top: 50px;
                text-align: justify;
            }
        }
    }
}

.slider {
    display: flex;
    flex-direction: row;
    background-color: #2f2c2c;

    &Container {
        width: 50%;
    }

    &Info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        color: #f2f0f0;
        padding: 0 60px;

        &Title {
            font-size: 50px;
            text-align: center;
            margin: 0;
        }

        &Text {
            font-size: 16px;
            line-height: 1.5;
            margin-top: 50px;
            text-align: justify;
        }

    }
}

@media only screen and (min-device-width: 1045px) {

    .presentation {
        &Container {
            &Picture {

                &Orianne {
                    margin: -11% 0 0 17%;
                }

                &Simon {
                    margin: 18% 0 -5% 40%;
                }

                &Louis {
                    margin: -33% 0 0 23%;

                }

            }
        }
    }
}

@media only screen and (min-device-width: 795px) and (max-device-width: 1045px) {
    .presentation {
        &Container {

            &Picture {

                &Orianne {
                    margin: 40px auto;
                }

                &Simon {
                    margin: 40px auto;
                }

                &Louis {
                    margin: 40px auto 100px;
                }
            }
        }
    }

}

@media only screen and (max-device-width: 795px) {
    .presentation {
        &Container {
            flex-direction: column;

            &Picture {
                flex-direction: row;
                order: 2;
                width: 100%;
                padding: 0 10px;

                &Orianne {
                    margin: 10px auto;
                }

                &Simon {
                    margin: 10px auto;
                }

                &Louis {
                    margin: 10px auto;
                }
            }

            &Paragraph {
                order: 1;
                width: 100%;
                padding: 0 10px;
            }
        }
    }

}

@media only screen and (max-device-width: 874px) {
    .header {
        &Container {

            &Title {
                font-size: 50px;
                padding: 0 20px;
            }
        }
    }

    .Creations {
        &Description {
            margin: 80px 0;
            width: 100%;
            padding: 0 10px;
        }

        &Portfolio {
            &Container {
                flex-direction: column;

                &Item {
                    margin: 0 auto;
                    flex-direction: column;
                    justify-content: center;

                    &Images {
                        margin: 50px 0;

                        &:hover>img {
                            transform: scale(1);
                        }

                        &:hover {
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }
    }
}

// Animations
@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}